body {
  margin: 20px;
  background: rgb(255, 255, 255);
}

.square {
  background: rgb(228, 226, 221);
  border: 3px solid rgb(122, 122, 122);
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  width: 34px;
  margin-right: -2px;
  margin-top: -2px;
  padding: 0;
  text-align: center;
}
