body {
  margin: 20px;
  background: rgb(253, 202, 143);
}

.square {
  background: rgb(228, 226, 221);
  border: 3px solid rgb(122, 122, 122);
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  width: 34px;
  margin-right: -2px;
  margin-top: -2px;
  padding: 0;
  text-align: center;
}

.controls {
  display: inline-block;
}

.controls div {
  display: inline-block;
}

.reset-button {
  text-align: center;
  background: rgb(228, 226, 221);
  width: 34px;
  height: 34px;
  margin: 5px;
}

.flag-button {
  text-align: center;
  background: rgb(228, 226, 221);
  width: 34px;
  height: 34px;
  margin: 5px;
}

.timer {
  text-align: center;
  background: rgb(0, 0, 0);
  color: rgb(255, 0, 0);
  width: 68px;
  height: 34px;
  margin: 5px;
}

.mines-left {
  text-align: center;
  background: rgb(0, 0, 0);
  color: rgb(255, 0, 0);
  width: 68px;
  height: 34px;
  margin: 5px;
}

